<div>
    <input type="checkbox" id="active_paustianbookmodule" name="active[PaustianBookModule]" value="1" {% if active %}checked="checked"{% endif %} />
    <label for="active_paustianbookmodule">{{ __('Book') }}{# domain='module_book' #}</label>
</div>