
{include file="book_admin_menu.htm"}
<h2>{gt text="List Figures"}</h2>
<form class="form" action="{pnmodurl modname="Book" type="admin" func="modifyfigure2"}" method="post" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="authid" value="{insert name="generateauthkey" module="Book"}" />
<table>
{section name=i loop=$figData}
<tr>
	<td><input type="radio" name="fid2" value="{$figData[i.index].fid}"></td>
	<td>{$figData[i.index].number}-{$figData[i.index].fig_number} {$figData[i.index].title}</td>
	<td>{$figData[i.index].content}</td>
</tr>
{/section}
</table>
<p><input name="submit" type="submit" value="{gt text="Edit Figure"}" /></p>

</form>
