{*  book_user_displayarticle.htm,v 1.8 2007/03/15 17:32:43 paustian Exp  *}
<div class="book_content">
<h1>{$chap_number}-{$section_id} {$title|pnvarcensor}</h1>
{if $counter==1}
<p>({$counter} Read)</p>
{else}
<p>({$counter} Reads)</p>
{/if}
{if $show_internals}
<form class="form" action="{pnmodurl modname="Book" type="admin" func="modifyarticle2"}" method="post" enctype="application/x-www-form-urlencoded">
   <p><input type="hidden" name="authid" value="{insert name="generateauthkey" module="Book"}" />
    <input type="hidden" name="chosen_article" value="{$art_id}" />
	<input name="submit" type="submit" value="{gt text="Edit article"}" /></p>
</form>
<form class="form" action="{pnmodurl modname="Book" type="admin" func="addglossaryitems"}" method="post" enctype="application/x-www-form-urlencoded">
   <p><input type="hidden" name="authid" value="{insert name="generateauthkey" module="Book"}" />
    <input type="hidden" name="art_id" value="{$art_id}" />
	<input name="submit" type="submit" value="{gt text="Add Glossary Items"}" /></p>
</form>
<p>article id: {$art_id}</p>
<p>chapter id: {$chap_id}</p>
<p>book id: {$book_id}</p>
{/if}
<p> <a href="{pnmodurl modname="Book" type="user" func="toc" book_id=$book_id}">{gt text="Table of Contents"}</a>|
<a href="{pnmodurl modname="Book" type="user" func="displayarticlesinchapter" chap_id=$chap_id}">{gt text="Chapter Article List"}</a>|
<a href="{pnmodurl modname="Book" type="user" func="displayarticle" art_id=$art_id theme=Printer}">{gt text="Printable Version"}</a>
| <a href="{pnmodurl modname="Book" type="user" func="displaychapter" chap_id=$chap_id theme=Printer}">{gt text="Printable Chapter"}</a></p>
{if $prev!=0}
<a href="{pnmodurl modname="Book" func="displayarticle" art_id=$prev}">[{gt text="Prev"}]</a>
{/if}
{if $next!=0 && $prev!=0}
|
{/if}
{if $next!=0}
<a href="{pnmodurl modname="Book" func="displayarticle" art_id=$next}">[{gt text="Next"}]</a><br />
{/if}
{$content|pnvarcensor}

{if $prev!=0}
<a href="{pnmodurl modname="Book" func="displayarticle" art_id=$prev}">[{gt text="Prev"}]</a>
{/if}
{if $next!=0 && $prev!=0}
|
{/if}
{if $next!=0}
<a href="{pnmodurl modname="Book" func="displayarticle" art_id=$next}">[{gt text="Next"}]</a><br />
{/if}

<p> <a href="{pnmodurl modname="Book" type="user" func="toc" book_id=$book_id}">{gt text="Table of Contents"}</a>|
<a href="{pnmodurl modname="Book" type="user" func="displayarticlesinchapter" chap_id=$chap_id}">{gt text="Chapter Article List"}</a>|
<a href="{pnmodurl modname="Book" type="user" func="displayarticle" art_id=$art_id theme=Printer}">{gt text="Printable Version"}</a>
<a href="{pnmodurl modname="Book" type="user" func="displaychapter" chap_id=$chap_id theme=Printer}">{gt text="Printable Chapter"}</a></p>
{notifydisplayhooks eventname='book.ui_hooks.articles.display_view' id=$art_id urlobject=$returnurl}
</div>