.highlight {
    background-color: yellow;
}
.form-across{
    position: relative;
    float: right;
    padding-top:10px;
}

.table_header{
    font-weight: bold;
}

.panel-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.panel-actions {
    margin-top: -20px;
    margin-bottom: 0;
    text-align: right;
}
.panel-actions a {
    color:#333;
}

.tooltip-inner {
    background-color: lightgrey;
    color: darkslategrey;
    text-align: justify;
}

.glossary:hover, .glossary {
    background-color: lightgoldenrodyellow;
    color: black;
}